/* Pháº§n Button */
.add-to-cart {
    background-color: rgb(236, 35, 119);
    color: #fff;
    border: none;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: rgb(67, 118, 108);
}
