/* Pháº§n Footer */
footer {
    background-color: rgb(177, 148, 112);
    color: #fff;
    padding: 3rem 0;
    text-align: center;
}

.footer-logo img {
    height: 5rem;
    margin-bottom: 1rem;
}

.footer p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.footer-icons i {
    font-size: 1.5rem;
    margin: 0 10px;
    color: #fff;
}

.footer-icons i:hover {
    color: limegreen;
}
