/* Phần Home */
.home {
    margin-top: 8rem;
    position: revert;
    background: url(../img/background1.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home h1 {
    font-size: 4rem;
    text-shadow: .2rem .2rem #fa4975;
    letter-spacing: .1rem;
}

.home p {
    font-size: 1.5rem;
    line-height: 2rem;
}

.home-btn {
    padding: 1rem 0;
}

.home-btn button {
    width: 15rem;
    padding: 1rem .7rem;
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem;
    color: #fff;
    background: rgb(236, 35, 119);
    margin: 0 auto; /* Căn giữa theo chiều ngang */
}

.home-btn button i {
    margin-left: .5rem;
    font-size: 1rem;
    text-align: center;
    animation: animate .5s ease infinite;
    transition: .5s ease;
}

@keyframes animate {
    0% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}

@media(max-width:768px) {
    .home h1 {
        font-size: 3rem;
        padding-top: 50%;
    }
    .home p {
        font-size: 1.2rem;
    }
}
