@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/* CSS cho trang login */

/* Căn giữa trang */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  font-family: 'Quicksand', sans-serif;
}

/* Khu vực container */
.login-container {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Tiêu đề "Login" */
.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Thông báo lỗi */
.login-container p.error {
  color: red;
  margin-bottom: 10px;
}

/* Nhóm input */
.input-group {
  margin-bottom: 15px;
}

/* Nhãn input */
.input-group label {
  display: block;
  margin-bottom: 5px;
}

/* Input */
.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Nút đăng nhập */
.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hiệu ứng hover cho nút */
.login-container button:hover {
  background-color: #0056b3;
}
