/* Reset CSS và Import Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/* Thiết lập giá trị mặc định cho tất cả các phần tử */
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
}
